
.heroBox {
    width: 100%;
    display: flex;
    min-Height: 600px;
    align-items: center;
    justify-Content: center;
}

.gridContainer {
    display: flex;
    align-items: center;
    max-width: 1300px;
    padding: 50px;
}

.title {
    padding-bottom: 30px;
   }
   
.subtitle {
       opacity: 0.4;
       padding-bottom: 30px;
   }


.largeImage {
    width: 100%;
}

.heroButton {
    
}